    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.reseau, "Réseau", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        {{ form_errors(form.reseau) }}

        <div class="col-sm-4">
            {{ form_widget(form.reseau, {'attr': {'class': 'form-control checkbox-all', 'required':'required'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.partenaires, "Partenaires", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        {{ form_errors(form.partenaires) }}

        <div class="col-sm-4">
            {{ form_widget(form.partenaires, {'attr': {'class': 'form-control checkbox-all', 'required':'required'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.collectivites, "Collectivites", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.collectivites) }}
        <div class="col-sm-4">
            {{ form_widget(form.collectivites, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.contrat, "Contrat", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.contrat) }}
        <div class="col-sm-4">
            {{ form_widget(form.contrat, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.contrat, "Libelle", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.libelle) }}
        <div class="col-sm-4">
            {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.ordre, "Ordre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.ordre) }}
        <div class="col-sm-4">
            {{ form_widget(form.ordre, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.type, "Type", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.type) }}
        <div class="col-sm-4">
            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.reference, "Réference", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.reference) }}
        <div class="col-sm-4">
            {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.pdfSource, "Fichier (PDF)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.pdfSource) }}
        <div class="col-sm-4">
            {{ form_widget(form.pdfSource.file, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {{ form_rest(form) }}