{% extends 'DocBundle:Default:index.html.twig' %}

{% block body %}
    {% if  parametrages is empty %}
        <h1>Aucun paramètrage n'a été enregistré</h1>
    {% else %}
    <h1>La liste des paramètrages</h1>

    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Partenaires</th>
                <th>Collectivites</th>
                <th>Contrat</th>
                <th>Libelle</th>
                <th>Ordre</th>
                <th>Type</th>
                <th>Reference</th>
                <th>Pdfsource</th>
                <!--<th>Commentaire</th>
                <th>Updateat</th>
                <th>Createdat</th>-->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametrage in parametrages %}
            <tr>
                <!--<td><a href="{{ path('parametrage_show', { 'id': parametrage.id }) }}">{{ parametrage.id }}</a></td>-->
                <td>
                    {% for partn in parametrage.partenaires %}
                        <a href="{{ path('reseau_show', { 'id': partn.id }) }}">{{ partn.name }}</a>,
                    {% endfor %}
                </td>
                <td>{{ parametrage.collectivites }}</td>
                <td>{{ parametrage.contrat }}</td>
                <td>{{ parametrage.libelle }}</td>
                <td>{{ parametrage.ordre }}</td>
                <td>{{ parametrage.type }}</td>
                <td>{{ parametrage.reference }}</td>
                <td><a href="{{ path('parametrage_show_pdf', { 'id': parametrage.id }) }}">{{ parametrage.pdfSource.title }}</a></td>
                <!--<td>{{ parametrage.commentaire }}</td>
                <td>{% if parametrage.updateAt %}{{ parametrage.updateAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if parametrage.createdAt %}{{ parametrage.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>-->
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parametrage_show', { 'id': parametrage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parametrage_edit', { 'id': parametrage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}


    <a href="{{ path('parametrage_new') }}">
        <button type="button" class="btn btn-primary">Créer un paramètrage</button>
    </a>
{% endblock %}
