{% extends 'DocBundle:Default:index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if  parametrages is empty %}
        <h3>
            <i class="glyphicon glyphicon-th-list"></i> Aucun paramètrage n'a été enregistré
            <a href="{{ path('parametrage_new') }}">
                <button type="button" class="btn btn-primary pull-right">Ajouter un paramètrage</button>
            </a></h3>
        </h3>
        <hr>
    {% else %}

    <h3>
        <i class="glyphicon glyphicon-th-list"></i> La liste des paramètrages
        <a href="{{ path('parametrage_new') }}">
            <button type="button" class="btn btn-primary pull-right">Ajouter un paramètrage</button>
        </a>
    </h3>

    <hr>

    <div class="table-responsive">
        <table class="table table-striped display table-condensed responsive no-wrap table-bordered table-hover" id="source" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Partenaires</th>
                    <th>Collectivites</th>
                    <th>Contrat</th>
                    <th>Libelle</th>
                    <th>Ordre</th>
                    <th>Type</th>
                    <th>Reference</th>
                    <th>Pdf</th>
                    <th>Actions</th>
                    <!--<th>Enlever</th>-->
                </tr>
            </thead>
            <tbody>
            {% for parametrage in parametrages %}
                <tr>
                    <td>
                        {{ parametrage.partenaires }}
                    </td>
                    <td>{{ parametrage.collectivites }}</td>
                    <td>{{ parametrage.contrat }}</td>
                    <td>{{ parametrage.libelle }}</td>
                    <td>{{ parametrage.ordre }}</td>
                    <td>{{ parametrage.type }}</td>
                    <td>{{ parametrage.reference }}</td>
                    <td><a href="{{ path('parametrage_show_pdf', { 'id': parametrage.id }) }}">{{ parametrage.pdfSource.title }}</a></td>
                    <!--<td>{{ parametrage.commentaire }}</td>-->
                    <td>
                        <a href="{{ path('parametrage_edit', { 'id': parametrage.id }) }}">
                            <button type="button" class="btn btn-info btn-xs inline pull-left glyphicon glyphicon-pencil" title="Modifier">
                            </button>
                        </a>

                        <a href="{{ path('parametrage_delete', { 'id': parametrage.id }) }}">
                            <button class="btn btn-danger btn-xs pull-right inline glyphicon glyphicon-trash" title="Supprimer">
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}