{% extends 'DocBundle:Default:index.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class = "panel panel-success">
                <div class = "panel-heading">
                    <h3 class = "panel-title">
                        <i class="glyphicon glyphicon-th-list"></i> Modification d'un paramètre
                    </h3>
                </div>
                <div class = "panel-body">
                    <div class="well">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                        {{ include("DocBundle:parametrage:form.html.twig") }}
                        <button type="submit" class="glyphicon glyphicon-ok btn btn-primary btn-md">Créer</button>
                        <button type="reset" class="btn btn-default btn-md">Annuler</button>

                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('parametrage_index') }}"><button type="button" class="btn btn-info">Retourner à la liste</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        checkboxAll = function(e)
        {
            var nameRoot = $(this).attr('name');
            nameRoot = nameRoot.substring(0,nameRoot.lastIndexOf('['));
            var group = 'input[type=checkbox][name^="' + nameRoot + '"]';
            var checked = $(this).prop('checked') ? true : false;
            $(group).prop('checked', checked);
        };
        $(document).ready(function()
        {
            $('.checkbox-all').change(checkboxAll);
        });
    </script>
{% endblock %}