{% extends 'DocBundle:Default:index.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class = "panel panel-success">
                <div class = "panel-heading">
                    <h3 class = "panel-title">
                        <i class="glyphicon glyphicon-th-list"></i> Modification d'un paramètre
                    </h3>
                </div>
                <div class = "panel-body">
                    <div class="well">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                        {{ include("DocBundle:parametrage:form.html.twig") }}
                        <button type="submit" class="glyphicon glyphicon-ok btn btn-primary btn-md">Créer</button>
                        <button type="reset" class="btn btn-default btn-md">Annuler</button>

                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('parametrage_index') }}"><button type="button" class="btn btn-info">Retourner à la liste</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#parametrage_liasse').on('change', function() {
            if(this.checked) {
                if (checkRequireField()) {
                    hideFieds();
                    $('.liasse-pdfs').removeClass('hide');
                    sendData();
                } else {
                    this.checked = false;
                }
            } else {
                $('#liasse-ok').removeClass('hide');
                $('.liasse-pdfs').empty();
                $('.liasse-pdfs').addClass('hide');
            }
        });

        var sendData = function () {
            var cont = $('#parametrage_contrat').val();
            var ref = $('#parametrage_reference').val();
            var data = {reference: ref, contrat: cont};
            $.post('/parametrage/liassepdf', data)
                .done(function (elt) {
                    $('.liasse-pdfs').empty();
                    for (var i = 0; i< elt.length; i++) {
                        var orderField = '<input type="number" name="'+elt[i].pdf_id+'" class="col-xs-2" placeholder="ordre">';
                        var pdfLink = '<a href="/parametrage/'+elt[i].pdf_id+'/pdf">'+elt[i].pdf+'</a>';
                        var champ = '<div class="col-sm-6"><input type="checkbox" name="pdfs[]" value="'+elt[i].pdf_id+'"> '+pdfLink+'</div>' ;
                        var pdf = '<div class="form-group"><label for="" class="col-sm-2 control-label"></label>'+champ+''+orderField+'</div>';
                        $('.liasse-pdfs').append(pdf);
                    }
                });
        };

        var checkRequireField = function () {
            if ($('#parametrage_contrat').val().length != 0 && $('#parametrage_reference').val().length != 0) {
                return true;
            }
            $('.liasse-msg').removeClass('hide');
            return false;
        };

        var hideFieds = function () {
            var toHide = $('#liasse-ok');
            toHide.find('#parametrage_type').removeAttr('required');
            toHide.addClass('hide');
        };
        $(document).ready(function()
        {

        });
    </script>
{% endblock %}