{% extends 'DocBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Modification d'un paramètre</h1>
    {% if confirmation is defined %}
        <div class="alert alert-success">
            <strong>Success!</strong> Le paramètre a été modifié avec succès.
        </div>
    {% endif %}
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ include("DocBundle:reseau:form.html.twig") }}
        <button type="submit" class="glyphicon glyphicon-ok btn btn-primary btn-md">Modifier</button>

        {{ form_end(form) }}
    </div>

    <a href="{{ path('reseau_index') }}"><button type="button" class="btn btn-info">Retourner à la liste</button></a>
    <a href="{{ path('reseau_delete', {'id': reseau.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

    <!--{{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Supprimer</button>
    {{ form_end(delete_form) }}-->

{% endblock %}