    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.code, "Code", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.code) }}

        <div class="col-sm-4">
            {# Génération de l'input. #}
            {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.name, "Name", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-4">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_rest(form) }}