{% extends 'DocBundle:Default:index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if  parametrages is empty %}
        <h3><i class="glyphicon glyphicon-th-list"></i> La liste des paramètrages de {{ reseau.name }}</h3>
    {% else %}
        <h3><i class="glyphicon glyphicon-th-list"></i> La liste des paramètrages de {{ reseau.name }}</h3>
        <hr>
        <table class="table table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <!--<th>Id</th>-->
                    <th>Partenaires</th>
                    <th>Collectivites</th>
                    <th>Contrat</th>
                    <th>Libelle</th>
                    <th>Ordre</th>
                    <th>Type</th>
                    <th>Reference</th>
                    <th>Pdf</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for parametrage in parametrages %}
                <tr>
                    <!--<td><a href="{{ path('parametrage_show', { 'id': parametrage.id }) }}">{{ parametrage.id }}</a></td>-->
                    <td>
                        {{ parametrage.partenaires }}
                    </td>
                    <td>{{ parametrage.collectivites }}</td>
                    <td>{{ parametrage.contrat }}</td>
                    <td>{{ parametrage.libelle }}</td>
                    <td>{{ parametrage.ordre }}</td>
                    <td>{{ parametrage.type }}</td>
                    <td>{{ parametrage.reference }}</td>
                    <td><a href="{{ path('parametrage_show_pdf', { 'id': parametrage.id }) }}">{{ parametrage.pdfSource.title }}</a></td>
                    <!--<td>{{ parametrage.commentaire }}</td>-->
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('parametrage_delete', { 'id': parametrage.id }) }}">
                                    <span class="glyphicon glyphicon-remove">Supprimer</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('parametrage_edit', { 'id': parametrage.id }) }}">
                                    <span class="glyphicon glyphicon-pencil">Modifier</span>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Statut de la génération</h4>
                </div>
                <div class="modal-body">
                    <p id="requestStatus">Génération en cours.</p>
                    {% image '@DocBundle/Resources/public/images/default.svg' %}
                    <img src="{{ asset_url }}" alt="loader" />
                    {% endimage %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>

    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'generateForm'}}) }}
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Générer</button>
    {{ form_end(form) }}

    {{ form_start(exportForm, {'attr': {'class': 'form-horizontal', 'id': 'generateForm'}}) }}
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Exporter en CSV</button>
    {{ form_end(exportForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function() {
            synchroneRequest('#generateForm');
        });
    </script>
{% endblock %}
