{% extends 'DocBundle:Default:index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <div class = "panel panel-success">
                {% if  parametrages is not empty %}
                    <div class = "panel-heading">
                        <h3 class = "panel-title">
                            <i class="glyphicon glyphicon-th-list"></i> La liste des paramètrages de {{ reseau.name }}
                             <span class="label label-danger" id="version"> V{{ version.numero }} {{ version.enCours ? 'En cours...' : '' }}</span>
                        </h3>
                    </div>
                    <div class = "panel-body">
                        {% if app.request.get('confirmation')  %}
                            <div class="alert alert-success">
                                <strong>Success:</strong> Génération des paramétrages terminée.
                            </div>
                        {% endif %}
                        <table class="table table-striped table-condensed responsive no-wrap table-bordered" id="source">
                            <thead>
                            <tr>
                                <th>Partenaires</th>
                                <th>Collectivites</th>
                                <th>Contrat</th>
                                <th>Libelle</th>
                                <th>Ordre</th>
                                <th>Type</th>
                                <th>Reference</th>
                                <th>Pdf</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for parametrage in parametrages %}
                                <tr class="{{ parametrage.deleting ? 'danger' : '' }}" id="param_{{ parametrage.id }}">
                                    <td>
                                        {{ parametrage.partenaires }}
                                    </td>
                                    <td class="collectivites">{{ parametrage.collectivites }}</td>
                                    <td>{{ parametrage.contrat }}</td>
                                    <td>{{ parametrage.libelle }}</td>
                                    <td>{{ parametrage.ordre }}</td>
                                    <td>{{ parametrage.type }}</td>
                                    <td>{{ parametrage.reference }}</td>
                                    <td><a href="{{ path('parametrage_show_pdf', { 'id': parametrage.id }) }}">Voir le pdf</a></td>
                                    <td>
                                        {% if parametrage.deleting %}
                                            <div class="deleting">
                                                <button  onclick="annuler('{{ path('parametrage_cancel_delete', { 'id': parametrage.id }) }}')"
                                                         class="btn btn-success btn-xs glyphicon glyphicon-refresh" title="Annuler la suppression">
                                                </button>
                                                <button  onclick="supprimer('{{ path('parametrage_delete', { 'id': parametrage.id }) }}')"
                                                         class="btn btn-danger btn-xs glyphicon glyphicon-remove" title="Confirmer la suppression">
                                                </button>
                                            </div>
                                            <div class="not-deleting hide">
                                                <a href="{{ path('parametrage_edit', { 'id': parametrage.id }) }}">
                                                    <button type="button" class="btn btn-info btn-xs glyphicon glyphicon-pencil" title="Modifier">
                                                    </button>
                                                </a>
                                                <!--<a href="{{ path('parametrage_delete', { 'id': parametrage.id }) }}">-->
                                                <button  onclick="supprimer('{{ path('parametrage_delete', { 'id': parametrage.id }) }}')"
                                                         class="btn btn-danger btn-xs glyphicon glyphicon-trash" title="Supprimer">
                                                </button>
                                                <!--</a>-->
                                            </div>
                                        {% else %}
                                            <div class="not-deleting">
                                                <a href="{{ path('parametrage_edit', { 'id': parametrage.id }) }}">
                                                    <button type="button" class="btn btn-info btn-xs glyphicon glyphicon-pencil" title="Modifier">
                                                    </button>
                                                </a>
                                                <!--<a href="{{ path('parametrage_delete', { 'id': parametrage.id }) }}">-->
                                                <button  onclick="supprimer('{{ path('parametrage_delete', { 'id': parametrage.id }) }}')"
                                                         class="btn btn-danger btn-xs glyphicon glyphicon-trash" title="Supprimer">
                                                </button>
                                                <!--</a>-->
                                            </div>
                                            <div class="deleting hide">
                                                <button  onclick="annuler('{{ path('parametrage_cancel_delete', { 'id': parametrage.id }) }}')"
                                                         class="btn btn-success btn-xs glyphicon glyphicon-refresh" title="Annuler la suppression">
                                                </button>
                                                <button  onclick="supprimer('{{ path('parametrage_delete', { 'id': parametrage.id }) }}')"
                                                         class="btn btn-danger btn-xs glyphicon glyphicon-remove" title="Confirmer la suppression">
                                                </button>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <ul class="pagination pull-right btn-group">
                            {% for p in range(1, maxPerPage) %}
                                <li{% if p == page %} class="active"{% endif %}>
                                    <a href="{{ path('reseau_show_parametrage', {'id': reseau.id, 'page': p}) }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        {% if is_granted('ROLE_ADMIN') %}
                            <button type="button" class="btn btn-primary {{ version.enCours ? '' : 'disabled' }}" {{ version.enCours ? 'data-toggle="modal" data-target="#myModal"' : '' }}>
                                <i class="glyphicon glyphicon-cog"></i> Générer
                            </button>
                        {{ form_start(exportForm, {'attr': {'class': 'form-inline pull-right', 'id': 'generateForm', 'style':'display:inline-block'}}) }}
                        <button type="submit" class="btn btn-info inline">
                            <i class="glyphicon glyphicon-download"></i> Exporter en CSV
                        </button>
                        {{ form_end(exportForm) }}
                        {% endif %}
                    </div>
                {% else %}
                    <div class = "panel-heading">
                        <h3 class = "panel-title">
                            <i class="glyphicon glyphicon-th-list"></i> Aucun paramétrage n'a été renseign {{ reseau.name }}
                        </h3>
                    </div>
                    <div class = "panel-body">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!--modal generation form -->
    <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Statut de la génération</h4>
                </div>
                {{ form_start(form, {'attr': {'id': 'generateForm', 'class': 'form-horizontal'}}) }}
                <div class="modal-body">
                    <div class="loading hide">
                        <p id="requestStatus">Génération en cours...</p>
                        <div class="spinner">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                        </div>
                    </div>
                    <div class="load-form">
                        <div class="form-group">
                            {{ form_label(form.numero, "N° Version", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.numero) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.numero, {'attr': {'class': 'form-control checkbox-all', 'required':'required'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.message, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.message) }}
                            <div class="col-sm-4">
                                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'required':'required'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="load-form"><button type="submit" class="btn btn-primary load-form-button">Générer</button></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        Confirmation
                    </h3>
                </div>
                <div class="modal-body">
                    Confirmez-vous cette opération ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    <a class="btn btn-danger btn-ok-dialog">Oui</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            //synchroneRequest('#generateForm');
        });
    </script>
{% endblock %}
