{% extends 'DocBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Reseau</h1>

    <table class="table table-striped table-responsive table-bordered">
        <tbody>
            <!--<tr>
                <th>Id</th>
                <td>{{ reseau.id }}</td>
            </tr>-->
            <tr>
                <th>Code</th>
                <td>{{ reseau.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ reseau.name }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('reseau_edit', { 'id': reseau.id }) }}">
        <button type="button" class="btn btn-primary">Modifier</button>
    </a>

    <a href="{{ path('reseau_index') }}"><button type="button" class="btn btn-info">Retourner à la liste</button></a>
    <a href="{{ path('reseau_delete', {'id': reseau.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>

    <!--{{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">Supprimer</button>
    {{ form_end(delete_form) }}-->

{% endblock %}
