{% extends 'DocBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Modification d'un paramètre</h1>
    {% if confirmation %}
        <div class="alert alert-success">
            <strong>Success!</strong> Le paramètre aété modifié avec succès.
        </div>
    {% endif %}
<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ include("DocBundle:cnpdocument:form.html.twig") }}
    <button type="submit" class="glyphicon glyphicon-ok btn btn-primary btn-md">Modifier</button>

    {{ form_end(form) }}
</div>

<a href="{{ path('cnpdocument_index') }}"><button type="button" class="btn btn-info">Retourner à la liste</button></a>

{{ form_start(delete_form) }}
<button type="button" class="btn btn-danger">Supprimer</button>
{{ form_end(delete_form) }}

{% endblock %}
